<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/course"></ion-back-button>
          </ion-buttons>
      <ion-title>Course Details {{courseName}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
  <ion-grid *ngFor="let course of loadedCourse">
    <ion-row>
      <ion-col size="6">
          <ion-list *ngFor="let course of loadedCourse" center>
              <ion-input type="text">{{course.courseName}}</ion-input>
              <ion-input type="text">{{course.duration}}</ion-input>
          </ion-list>
      </ion-col>
      
    </ion-row>
    
  </ion-grid>

</ion-content>

