<ion-header>
  <ion-toolbar>
    <ion-title>insitituesignup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Institute Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Owner Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
          
        </ion-row>
        
          <ion-row>
              <ion-col size-sm="6" offset-sm="3">
                <ion-item>
                  <ion-label>Institue Address</ion-label>
                  <ion-label position="floating">Line 1</ion-label>
                  <ion-input>  </ion-input>
                </ion-item>
              </ion-col>
              
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-item>
                    
                    <ion-label position="floating">Line 2</ion-label>
                    <ion-input>  </ion-input>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      
                      <ion-label position="floating">City</ion-label>
                      <ion-input type="text"></ion-input>
                     
                    </ion-item>
                  </ion-col>
                  
                </ion-row>
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                      <ion-item>
                        
                        <ion-label position="floating">Pin Code</ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
                    </ion-col>
                    
                  </ion-row>
                <ion-row>
                    <ion-col size-sm="6" offset-sm="3">
                      <ion-item>
                        
                        <ion-label position="floating">State</ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
                    </ion-col>
                    
                  </ion-row>
                  <ion-row>
                      <ion-col size-sm="6" offset-sm="3">
                        <ion-item>
                          
                          <ion-label position="floating">Country</ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>
                      </ion-col>
                      
                    </ion-row>
                    <ion-row>
                        <ion-col size-sm="6" offset-sm="3">
                          <ion-item>
                            
                            <ion-label position="floating">Country</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        
                      </ion-row>
                      <ion-row>
                          <ion-col size-sm="6" offset-sm="3">
                            
                              
                             
                            
                          </ion-col>
                          
                        </ion-row>
    </ion-grid>
    <ion-footer>
    
      
        <ion-button  expand="block"   [routerLink]="['/login/pincreation']" routerLinkActive="router-link-active" >
          Next
        </ion-button>
   
 
</ion-footer>
  </form>
  

</ion-content>
